P37.Course.Web.SearchEnginesForm/Connected Services/WeatherService/ForecastService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeathers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CityCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeathersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWeathersResult" type="tns:ArrayOfWeather" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWeather">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Weather" nillable="true" type="tns:Weather" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Weather">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ShowDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Icon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Temperature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WindSpeed" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetWeathersSoapIn">
    <wsdl:part name="parameters" element="tns:GetWeathers" />
  </wsdl:message>
  <wsdl:message name="GetWeathersSoapOut">
    <wsdl:part name="parameters" element="tns:GetWeathersResponse" />
  </wsdl:message>
  <wsdl:portType name="ForecastServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWeathers">
      <wsdl:input message="tns:GetWeathersSoapIn" />
      <wsdl:output message="tns:GetWeathersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ForecastServiceSoap" type="tns:ForecastServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeathers">
      <soap:operation soapAction="http://tempuri.org/GetWeathers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ForecastServiceSoap12" type="tns:ForecastServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeathers">
      <soap12:operation soapAction="http://tempuri.org/GetWeathers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ForecastService">
    <wsdl:port name="ForecastServiceSoap" binding="tns:ForecastServiceSoap">
      <soap:address location="https://localhost:44333/ForecastService.asmx" />
    </wsdl:port>
    <wsdl:port name="ForecastServiceSoap12" binding="tns:ForecastServiceSoap12">
      <soap12:address location="https://localhost:44333/ForecastService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>